.wrapper{
    width: 1160px;
    margin: 0 auto;
}
.container{
    width: 100%;
    
}
form{
width: 555px;
margin: 0 auto;
margin-top: 100px;
}
#contant{
display: none;
margin-bottom: 10px;
}
#error{
    display: none;
}
.wrap__input{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 350px;
height: 100px;
background-color: brown;
}
.text-field__input{
margin: 0 auto;
}
.text-field__label{

color: azure;}
#price{
height: 25px;
}